@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Viga&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
body:before {
  content: "";
  background-image: url(../image/contact.png);
  background-position: 27% 67%;
  background-repeat: no-repeat;
  background-size: 30vmax;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 990px) {
  body:before {
    background-position: 27% 54%;
    background-size: 35vmax;
  }
}
@media screen and (max-width: 576px) {
  body:before {
    background-position: center;
    background-size: 65vmax;
    opacity: 25%;
  }
}
@media screen and (max-width: 410px) {
  body:before {
    background-size: 60vmax;
  }
}

.custom-nav .navbar-brand img {
  width: 170px;
  height: 50px;
  margin-left: 30px;
}
.custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 1.2em;
  transition: 2s color ease-in-out;
}
.custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid #0b63dc;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}
.custom-nav #navbarNav .navbar-nav .nav-item .nav-mg {
  margin-left: 5em;
}
.custom-nav #navbarNav .navbar-nav .nav-item .custom-btn {
  color: white;
  border-radius: 3em;
  border: none;
  padding: 0.1em 1em;
}
@media screen and (max-width: 992px) {
  .custom-nav #navbarNav .navbar-nav .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00559E;
  }
  .custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
    font-family: "Viga", sans-serif;
    font-weight: 400;
    color: white !important;
    text-transform: none;
  }
  .custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover::after {
    content: "";
    opacity: 0;
  }
  .custom-nav #navbarNav .navbar-nav .nav-item .custom-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 5px;
  }
}

.container h1 {
  font-family: "MOntserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: 35%;
}

.form {
  margin-left: 50%;
  margin-top: 80px;
}
.form .input-field {
  margin-top: 20px;
}
.form .input-field input,
.form .input-field textarea {
  border-radius: 12px;
  padding: 3px 10px;
}
.form a {
  margin-left: 43px;
  margin-top: 30px;
  padding: 3px 20px;
  font-weight: 700;
  color: white !important;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.7em;
}

.footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: white;
  margin-top: 100px;
  background: black;
}
.footer a {
  text-decoration: none;
}
.footer a i {
  margin-left: 20px;
  margin-top: 40px;
}
.footer p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 30px;
}
.footer p span {
  font-size: 13px;
}
.footer .cp-right {
  font-size: 12px;
  text-transform: inherit;
  font-weight: normal;
  margin-top: 50px;
  word-spacing: inherit;
}

@media screen and (max-width: 990px) {
  .container h1 {
    margin-left: 30%;
    text-decoration: underline rgba(160, 160, 160, 0.9);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .footer p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 25px;
  }
  .footer p span {
    font-size: 10px;
  }
}
@media screen and (max-width: 576px) {
  .container h1 {
    margin-left: 25%;
    font-size: 2.4rem;
  }

  .form {
    margin-top: 60px;
    margin-left: 25%;
  }

  .footer .cp-right {
    font-size: 10px;
  }
}
@media screen and (max-width: 410px) {
  .container h1 {
    margin-left: 20%;
    font-size: 2.2rem;
  }

  .form {
    margin-left: 18%;
  }

  .footer p {
    font-size: 0.8rem;
    margin-top: 25px;
  }
  .footer p span {
    font-size: 9px;
  }
  .footer .cp-right {
    font-size: 8px;
  }
}

/*# sourceMappingURL=contact.css.map */
