@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Viga&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
body:before {
  content: "";
  background-image: url(../image/login.png);
  background-position: 27% 67%;
  background-repeat: no-repeat;
  background-size: 30vmax;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 992px) {
  body:before {
    background-position: 20% 50%;
    opacity: 0.8;
  }
}
@media screen and (max-width: 576px) {
  body:before {
    opacity: 0;
  }
}

.custom-nav .navbar-brand img {
  width: 170px;
  height: 50px;
  margin-left: 30px;
}
.custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 1.2em;
  transition: 2s color ease-in-out;
}
.custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid #0b63dc;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}
.custom-nav #navbarNav .navbar-nav .nav-item .nav-mg {
  margin-left: 5em;
}
.custom-nav #navbarNav .navbar-nav .nav-item .custom-btn {
  color: white;
  border-radius: 3em;
  border: none;
  padding: 0.1em 1em;
}
@media screen and (max-width: 992px) {
  .custom-nav #navbarNav .navbar-nav .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00559E;
  }
  .custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
    font-family: "Viga", sans-serif;
    font-weight: 400;
    color: white !important;
    text-transform: none;
  }
  .custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover::after {
    content: "";
    opacity: 0;
  }
  .custom-nav #navbarNav .navbar-nav .nav-item .custom-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 5px;
  }
}

.form-log {
  margin-left: 800px;
  margin-top: 10px;
}
.form-log .log-in-form .title {
  font-family: "Viga", sans-serif;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 80px;
  text-transform: uppercase;
}
.form-log .log-in-form .input-field {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 0 0.4rem;
}
.form-log .log-in-form .input-field input {
  background: none;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  line-height: 1;
  padding-left: 0.8em;
  margin: 25px 0;
  opacity: 0.8;
}
.form-log .log-in-form .input-field input:focus {
  opacity: 1;
  border-bottom: solid black;
  transition: 0.2s;
}
.form-log .log-in-form .input-field .check {
  margin-top: -20px;
}
.form-log .log-in-form .input-field label {
  font-size: 0.8rem;
  color: gray;
  margin-left: 10px;
}
.form-log .btn-login {
  font-family: "Viga", sans-serif;
  font-size: 1.1rem;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 15px;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form-log .btn-login:active {
  box-shadow: none;
  transform: translateY(5px);
  transition: 0.1s;
}
.form-log a.to-signup {
  font-size: 0.7rem;
  color: gray;
  text-decoration: underline;
}
.form-log a.to-signup:hover {
  color: black;
}
@media screen and (max-width: 992px) {
  .form-log {
    margin-left: 50%;
    margin-top: 10%;
  }
}
@media screen and (max-width: 576px) {
  .form-log {
    margin-left: 30%;
    margin-top: 15%;
  }
  .form-log .log-in-form .title {
    margin-left: auto 0;
    font-size: 1.8rem;
    text-decoration: underline rgba(160, 160, 160, 0.9);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .form-log .btn-login {
    background-color: #0275D8;
    border-radius: 3em;
    font-size: 1.1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

/*# sourceMappingURL=login.css.map */
