@import "fonts";
@import "mixins";

// styles
body {
    font-family: "Montserrat", sans-serif;
}

// navbar
.custom-nav {
    @include nav;
}

p {
    font-family: 'Viga', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 200px;
}