@import "fonts";
@import "mixins";

// styles

body {
    font-family: 'Montserrat', sans-serif;

    &:before {
        content: "";
        background-image: url(../image/contact.png);
        background-position: 27% 67%;
        background-repeat: no-repeat;
        background-size: 30vmax;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

// navbar
.custom-nav {
    @include nav;
}

// form

.form {
    margin-left: 50%;
    margin-top: 60px;

    .input-field {
        margin-top: 20px;

        input,
        textarea {
            border-radius: 12px;
            padding: 3px 10px;
        }
    }

    a {
        margin-left: 43px;
        margin-top: 30px;
        padding: 3px 20px;
        font-weight: 700;
        color: white !important;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: .7em;
    }
}

.footer {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    margin-top: 100px;
    background: black;

    a {
        text-decoration: none;

        i {
            margin-left: 20px;
            margin-top: 40px;
        }
    }

    p {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1rem;
        margin-top: 30px;

        span {
            font-size: 13px;
        }
    }

    .cp-right {
        font-size: 12px;
        text-transform: inherit;
        font-weight: normal;
        margin-top: 50px;
        word-spacing: inherit;
    }
}