@import "fonts";

// styles
body {
    font-family: 'Montserrat', sans-serif;

    &:before {
        content: "";
        background-image: url(../image/learning-amico.png);
        background-position: 75% 60%;
        background-repeat: no-repeat;
        background-size: 30vmax;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;

        @media screen and (max-width: 992px) {
            opacity: .5;
            background-size: 45vmax;
        }
    }
}

// navbar
.custom-nav {
    .navbar-brand {
        img {
            width: 60px;
            height: 60px;
            margin-left: 30px;
        }
    }

    #navbarNav {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: black;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-left: 1.2em;
                    transition: 2s color ease-in-out;

                    &:hover::after {
                        content: "";
                        display: block;
                        border-bottom: 3px solid #0b63dc;
                        width: 50%;
                        margin: auto;
                        padding-bottom: 5px;
                        margin-bottom: -8px;
                    }
                }

                .nav-mg {
                    margin-left: 5em;
                }

                .custom-btn {
                    color: white;
                    border-radius: 3em;
                    border: none;
                    padding: .1em 1em;
                }

                @media screen and (max-width: 992px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #00559E;

                    .nav-link {
                        font-family: 'Viga', sans-serif;
                        font-weight: 400;
                        color: white !important;
                        text-transform: none;

                        &:hover::after {
                            content: "";
                            opacity: 0;
                        }
                    }

                    .custom-btn {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-top: 20px;
                        margin-bottom: 5px;
                    }
                }
            }


        }
    }
}

// custom section

.custom-section {
    margin-top: 50px;
    margin-left: 50px;

    h2 {
        font-family: 'Viga', sans-serif;
        font-size: 3rem;
        white-space: nowrap;
        line-height: 70px;
    }

    p {
        white-space: nowrap;
        font-weight: 400;
        font-size: 1rem;
        margin-top: 2em;
    }

    a {
        font-family: 'Viga', sans-serif;
        display: inline-block;
        border-radius: .8em;
        margin-top: 20px;
    }
}