@import "fonts";
@import "mixins";

// styles
body {
    font-family: 'Montserrat', sans-serif;

    &:before {
        content: "";
        background-image: url(../image/learning-amico.png);
        background-position: 75% 60%;
        background-repeat: no-repeat;
        background-size: 30vmax;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;

        @media screen and (max-width: 992px) {
            opacity: .5;
            background-size: 45vmax;
        }

        @media screen and (max-width: 390px) {
            background-position: center 120px;
            opacity: .2;
        }
    }
}

// navbar
.custom-nav {
    @include nav;
}

// custom section

.custom-section {
    margin-top: 50px;
    margin-left: 50px;

    h2 {
        font-family: 'Viga', sans-serif;
        font-size: 3rem;
        white-space: nowrap;
        line-height: 70px;
    }

    p {
        white-space: nowrap;
        font-weight: 400;
        font-size: 1rem;
        margin-top: 2em;
    }

    a {
        font-family: 'Viga', sans-serif;
        display: inline-block;
        border-radius: .8em;
        margin-top: 20px;
    }
}


// util

@media screen and (max-width: 390px) {
    .custom-section {
        h2 {
            font-size: 2.2rem;
            line-height: 45px;
            white-space: normal;
        }

        p {
            white-space: normal;
            font-size: .8rem;
            font-weight: 600;
        }
    }
}